[user]
	name = Richard Ramos
	email = info@richardramos.me
	signingkey = info@richardramos.me


[github]
  user = richard-ramos

[core]
  editor = nvim

[alias]
  # List ignored files
  ignored = ls-files \
    --others \
    --ignored \
    --exclude-standard

  # List contributors
  contributors = shortlog \
    --summary \
    --email \
    --numbered

  find-branch = !sh -c \"git branch -a | grep -v remotes | grep $1 \"

  hash = rev-parse HEAD

  nuclear = clean -x -d -f

  oops = commit --no-edit --amend

[color]
  ui = true
  grep = auto

[commit]
  verbose = true
	gpgsign = true

[grep]
  lineNumber = true

[push]
  default = current

[fetch]
  prune = true
[tag]
	gpgSign = true
