[user]
	name = Richard Ramos
	email = info@richardramos.me
	signingkey = 80D4B01265FDFE8F


[github]
  user = richard-ramos

[core]
  editor = nvim

[alias]
  # List ignored files
  ignored = ls-files \
    --others \
    --ignored \
    --exclude-standard

  # List contributors
  contributors = shortlog \
    --summary \
    --email \
    --numbered

  find-branch = !sh -c \"git branch -a | grep -v remotes | grep $1 \"

[color]
  ui = true
  grep = auto

[commit]
  verbose = true
  gpgsign = true

[grep]
  lineNumber = true

[push]
  default = current

[fetch]
  prune = true
